h1, h2, h3 { font-family: Tahoma }
body {padding: 0 2em}
.moreinfo { display: none; float: right; background-color: #eee; border: solid black 1px }
.wrongConstraint { background-color: #fbb; font-weight: bold; border: solid #f88 1px }
.pathelement { background-color: #ff9; font-weight: bold; border: solid #c90 1px }
.cut { background-color: #f30; font-weight: bold }
pre.code {font-size: 110%; background-color: #ffe; padding: 1ex; border: solid gray 1px}
.missingConstraint { background-color: #0f0; font-weight: bold }
span.comment {color: #008; font-style: italic}
pre.code .keyword {font-weight: bold}
span.suggestion {
    background-color: #68f;
    opacity: 0.6;
    position: absolute;
    top: -2em; right: 0ex;
    font-size: 70%; font-weight: bold; font-family: Baskerville, serif;
    border: 2px solid #44c;
    padding: 0.5ex;
    -moz-box-shadow: 1px 1px 3px #aaa;
    -webkit-box-shadow: 1px 1px 3px #aaa;
    box-shadow: 1px 1px 3px #aaa;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
}
span.outerSuggestion { background-color: transparent; width: 0px; position: relative }

ol li {font-family: Baskerville, serif}
